.creathon-details {
    text-align: center;
    background-color: #f0f8ff;
    border-radius: 15px;
    padding: 30px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: linear-gradient(to right, #ffafbd, #ffc3a0, #fffeab, #b3ffab, #abffef);
    position: absolute;
    width: 50vw;
    top: 30vh;
    left: 35vw;
    
 

}
  
  .creathon-details h1 {
    color: #ff6f61;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
    
  }
  
  .creathon-details p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .date-time {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
  }
  
  .date-time p {
    margin: 5px 0;
    font-family: 'Courier New', Courier, monospace;
    color: #555;
  }
  