.containerFormation {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 25vh;
}
.tilteFormation{
position: absolute;
top: 20vh;
left: 35vw;
bottom: 10vh;
}

.formation-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    width: 40vw;
}

.formation-box.past {
    background-color:lightgray;
    color: #fff;
}


.line {
    margin-bottom: 5px;
}

.line p {
    font-weight: bold;
}

