.containerCreathon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.creathon {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: left;
  background-color: #f5f5f5;
  transition: transform 0.2s;
}

.creathon:hover {
  transform: scale(1.05);
}

.fini {
  opacity: 0.5;
}

.contentCreathon {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Ajout d'une marge pour plus de clarté */
}

.line p {
  font-weight: bold;
  margin-right: 10px; /* Espacement entre le titre et le contenu */
}

.line span {
  font-size: 16px;
}

.iconStyle {
  margin-right: 10px;
}

.inputStyle {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e50b4f;
  border-radius: 5px;
}

.red-button {
  background-color: #e50b4f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red-button:hover {
  background-color: #c40942;
}

.cancel-button {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #bbb;
}

.separator {
  height: 2px;
  width: 80%;
  margin: 20px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Ajustement automatique des colonnes */
  gap: 20px;
  justify-content: center;
}
