.content{
    position: absolute;
    top: 10vw;
    left: 40vw;
    width: 70vw;
}
.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    /* Frame color */
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}